body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

canvas {
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #1e7e34;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#pauseButton {
    background-color: #46b169;
}

#pauseButton:hover {
    background-color: #46b169;
}

#pauseButton:active {
    background-color: #46b169;
}

button:focus {
    outline: none;
}
